In [1]:
%matplotlib inline
 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import pprint
pp = pprint.PrettyPrinter(indent=4)
import joblib
from skimage.io import imread
from skimage.transform import resize
from sklearn.linear_model import LogisticRegression

In [43]:
X_train = np.array([df, df, df3])
X_train = X_train.flatten()
y_train = [0, 0, 1]

ValueError: cannot copy sequence with size 4183 to array axis with dimension 1

OK - So what we need to so is preprocess every spiral into a single row of variables - e.g. avg pressure, number of changes in X direction, number of changes in Y direction, number of pen presses, avg azimuth, time taken, avg speed

In [11]:
controls = []
control_labels = []
ills = []
ill_labels = []
unif_set = {}
processed_df = pd.DataFrame(columns = ['C1', 'C2', 'C3', 'C4', 'C5'])

In [3]:
for dset in os.listdir('./data/control'):
    direc = "".join(["./data/control/", dset])
    df = pd.read_table(direc)
    controls.append(df)
    control_labels.append(0)

for dset in os.listdir('./data/ill'):        
    direc = "".join(["./data/ill/", dset])
    df = pd.read_table(direc)
    ills.append(df)
    ill_labels.append(1)

unif_set["data"] = controls+ills
unif_set["labels"] = control_labels+ill_labels

In [15]:
#Import and set up the data
for dset in os.listdir('./data/control'):
    direc = "".join(["./data/control/", dset])
    df = pd.read_table(direc)
    controls.append(df)
    control_labels.append(0)

for dset in os.listdir('./data/ill'):        
    direc = "".join(["./data/ill/", dset])
    df = pd.read_table(direc)
    ills.append(df)
    ill_labels.append(1)

unif_set["data"] = controls+ills
unif_set["labels"] = control_labels+ill_labels

#Now we've done our imports, we will process the data into a useable format

#for dset in unif_set['data']:
    
    #Speed
    
    # # of pen releases
    
    #avg azimuth
    
    #avg pressure 
    
    #Changes in X direction

In [8]:
len(os.listdir("./data/control")) + len(os.listdir("./data/ill"))

146

In [6]:
from pyts.classification import BOSSVS
from pyts.datasets import load_gunpoint
X_train, X_test, y_train, y_test = load_gunpoint(return_X_y=True)
clf = BOSSVS(window_size=28)
clf.fit(X_train, y_train)

BOSSVS(alphabet=None, anova=False, drop_sum=False, n_bins=4, norm_mean=False,
       norm_std=False, numerosity_reduction=True, smooth_idf=False,
       strategy='quantile', sublinear_tf=True, use_idf=True, window_size=28,
       window_step=1, word_size=4)

In [16]:
unif_set["data"][1]

                                  1980
0     5310 3728 1845198 1 3280 810 238
1     5311 3726 1845206 1 3280 810 320
2     5311 3726 1845213 1 3280 810 302
3     5312 3725 1845221 1 3280 810 260
4     5313 3725 1845228 1 3280 810 244
...                                ...
1975  5404 4739 1860065 1 3470 730 737
1976    5404 4739 1860072 0 3470 730 0
1977    5404 4742 1860080 0 3460 740 0
1978    5405 4740 1860087 0 3460 740 0
1979   I5413 4729 1860095 0 3460 740 0

[1980 rows x 1 columns]